In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [6]:
presidents = pd.read_csv('presidents.csv')
presidents.head(10)

,PRESIDENT,BIRTH DATE,BIRTH PLACE,DEATH DATE,LOCATION OF DEATH
0,George Washington,Feb 22 1732,Westmoreland Co. Va.,Dec 14 1799,Mount Vernon Va.
1,John Adams,Oct 30 1735,Quincy Mass.,July 4 1826,Quincy Mass.
2,Thomas Jefferson,Apr 13 1743,Albemarle Co. Va.,July 4 1826,Albemarle Co. Va.
3,James Madison,Mar 16 1751,Port Conway Va.,June 28 1836,Orange Co. Va.
4,James Monroe,Apr 28 1758,Westmoreland Co. Va.,July 4 1831,New York New York
5,John Quincy Adams,July 11 1767,Quincy Mass.,Feb 23 1848,Washington D.C.
6,Andrew Jackson,Mar 15 1767,Lancaster Co. S.C.,June 8 1845,Nashville Tennessee
7,Martin Van Buren,Dec 5 1782,Kinderhook New York,July 24 1862,Kinderhook New York
8,William Henry Harrison,Feb 9 1773,Charles City Co. Va.,Apr 4 1841,Washington D.C.
9,John Tyler,Mar 29 1790,Charles City Co. Va.,Jan 18 1862,Richmond Va.

In [ ]:
#change the column names to remove whitespace
presidents.columns = ['President','Birth Date','Birth Place','Death Date','Location of Death']
#create a data frame that contains just the name, birth and death date of the president
birth_and_death = presidents[['President','Birth Date','Death Date']]
#now modify this so the Birth Date and Death Date are
# integer values
# 1st create a list for the birth year
birth_year =  list(birth_and_death['Birth Date'])
#then remove cut the string till you get to the year
birth_year[:] = [year.split(' ')[-1] for year in birth_year]
#then assign this to the dataframe
birth_and_death['Birth Date'] = birth_year
#repeat the steps for the Death Date
death_year = list(birth_and_death['Death Date'])
death_year[:] = [year.split(' ')[-1] for year in death_year]
birth_and_death['Death Date'] = death_year
#now change the year to an integer
birth_and_death['Birth Date'] = birth_and_death['Birth Date'].astype(int)
#cannot repeat the same steps for the Death year as
#some of the presidents are still alive
# I will use not really an optimal solution but I will
# assign the death year to the current year
# for the sake of simplicity
birth_and_death['Death Date'][(birth_and_death['Death Date'] == '')] = '2016'
#now convert this column to integers
birth_and_death['Death Date'] = birth_and_death['Death Date'].astype(int)
#make a list of the possible years that presidents could be living
#change the columns of birth_and_death to something easier to work with
birth_and_death.columns = ['Presidents', 'Birth Year', 'Death Year']
#now need these two list with the complete integer values of birth and death years
birth_year = list(birth_and_death['Birth Year'])
death_year = list(birth_and_death['Death Year'])

In [9]:
#counter for years that the presidents have lived!
yearCount = Counter()
for bday, dday in zip(birth_year, death_year):
	for year in range(bday, dday):
		yearCount.update({year})

In [10]:
yearCount

Counter({1732: 1,
         1733: 1,
         1734: 1,
         1735: 2,
         1736: 2,
         1737: 2,
         1738: 2,
         1739: 2,
         1740: 2,
         1741: 2,
         1742: 2,
         1743: 3,
         1744: 3,
         1745: 3,
         1746: 3,
         1747: 3,
         1748: 3,
         1749: 3,
         1750: 3,
         1751: 4,
         1752: 4,
         1753: 4,
         1754: 4,
         1755: 4,
         1756: 4,
         1757: 4,
         1758: 5,
         1759: 5,
         1760: 5,
         1761: 5,
         1762: 5,
         1763: 5,
         1764: 5,
         1765: 5,
         1766: 5,
         1767: 7,
         1768: 7,
         1769: 7,
         1770: 7,
         1771: 7,
         1772: 7,
         1773: 8,
         1774: 8,
         1775: 8,
         1776: 8,
         1777: 8,
         1778: 8,
         1779: 8,
         1780: 8,
         1781: 8,
         1782: 9,
         1783: 9,
         1784: 10,
         1785: 10,
         1786: 10,
         1787: 10,
         1788: 10,
         1789: 10,
         1790: 11,
         1791: 12,
         1792: 12,
         1793: 12,
         1794: 12,
         1795: 13,
         1796: 13,
         1797: 13,
         1798: 13,
         1799: 12,
         1800: 13,
         1801: 13,
         1802: 13,
         1803: 13,
         1804: 14,
         1805: 14,
         1806: 14,
         1807: 14,
         1808: 15,
         1809: 16,
         1810: 16,
         1811: 16,
         1812: 16,
         1813: 16,
         1814: 16,
         1815: 16,
         1816: 16,
         1817: 16,
         1818: 16,
         1819: 16,
         1820: 16,
         1821: 16,
         1822: 18,
         1823: 18,
         1824: 18,
         1825: 18,
         1826: 16,
         1827: 16,
         1828: 16,
         1829: 17,
         1830: 17,
         1831: 17,
         1832: 17,
         1833: 18,
         1834: 18,
         1835: 18,
         1836: 17,
         1837: 18,
         1838: 18,
         1839: 18,
         1840: 18,
         1841: 17,
         1842: 17,
         1843: 18,
         1844: 18,
         1845: 17,
         1846: 17,
         1847: 17,
         1848: 16,
         1849: 15,
         1850: 14,
         1851: 14,
         1852: 14,
         1853: 14,
         1854: 14,
         1855: 14,
         1856: 15,
         1857: 16,
         1858: 17,
         1859: 17,
         1860: 17,
         1861: 17,
         1862: 15,
         1863: 15,
         1864: 15,
         1865: 15,
         1866: 15,
         1867: 15,
         1868: 14,
         1869: 13,
         1870: 13,
         1871: 13,
         1872: 14,
         1873: 14,
         1874: 14,
         1875: 13,
         1876: 13,
         1877: 13,
         1878: 13,
         1879: 13,
         1880: 13,
         1881: 12,
         1882: 13,
         1883: 13,
         1884: 14,
         1885: 13,
         1886: 12,
         1887: 12,
         1888: 12,
         1889: 12,
         1890: 13,
         1891: 13,
         1892: 13,
         1893: 12,
         1894: 12,
         1895: 12,
         1896: 12,
         1897: 12,
         1898: 12,
         1899: 12,
         1900: 12,
         1901: 10,
         1902: 10,
         1903: 10,
         1904: 10,
         1905: 10,
         1906: 10,
         1907: 10,
         1908: 10,
         1909: 10,
         1910: 10,
         1911: 11,
         1912: 11,
         1913: 13,
         1914: 13,
         1915: 13,
         1916: 13,
         1917: 14,
         1918: 14,
         1919: 13,
         1920: 13,
         1921: 13,
         1922: 13,
         1923: 12,
         1924: 13,
         1925: 13,
         1926: 13,
         1927: 13,
         1928: 13,
         1929: 13,
         1930: 12,
         1931: 12,
         1932: 12,
         1933: 11,
         1934: 11,
         1935: 11,
         1936: 11,
         1937: 11,
         1938: 11,
         1939: 11,
         1940: 11,
         1941: 11,
         1942: 11,
         1943: 11,
         1944: 11,
         1945: 10,
         1946: 12,
         1947: 12,
         1948: 12,
         1949: 12,
         1950: 12,
         1951: 12,
         1952: 12,
         1953: 12,
         1954: 12,
         1955: 12,
         1956: 12,
         1957: 12,
         1958: 12,
         1959: 12,
         1960: 12,
         1961: 13,
         1962: 13,
         1963: 12,
         1964: 11,
         1965: 11,
         1966: 11,
         1967: 11,
         1968: 11,
         1969: 10,
         1970: 10,
         1971: 10,
         1972: 9,
         1973: 8,
         1974: 8,
         1975: 8,
         1976: 8,
         1977: 8,
         1978: 8,
         1979: 8,
         1980: 8,
         1981: 8,
         1982: 8,
         1983: 8,
         1984: 8,
         1985: 8,
         1986: 8,
         1987: 8,
         1988: 8,
         1989: 8,
         1990: 8,
         1991: 8,
         1992: 8,
         1993: 8,
         1994: 7,
         1995: 7,
         1996: 7,
         1997: 7,
         1998: 7,
         1999: 7,
         2000: 7,
         2001: 7,
         2002: 7,
         2003: 7,
         2004: 6,
         2005: 6,
         2006: 5,
         2007: 5,
         2008: 5,
         2009: 5,
         2010: 5,
         2011: 5,
         2012: 5,
         2013: 5,
         2014: 5,
         2015: 5})